h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
    font-weight: 700
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em
}
.small-font{
    font-size: 0.8em;
}
h3{
    color:#77bfa3;
}
h2{
    color: #3d3d3d;
}
.jumbotron{
    text-align: center;
    background-color: white;
    padding-bottom: 0px
}
.index-bg{
    width: 100%
}
.bc-register-btn{
    font-family: 'Raleway', sans-serif;    
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;
    background-color: #ff928b;
    color: white;
    border: 0px;
}
.bc-register-btn:hover{
    background-color: white;
    color: #ff928b;
    border: 0px;
    transition-duration: 500ms;
}
.my-navbar {
    font-family: 'Raleway', sans-serif;    
    color: white;
    background-color: #4281a4;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 0px;
}
.my-navbar .active{
    background-color:#6dadcf;
    font-style: bold;
}
.my-navbar ul.nav a {
    color:white;
}
.my-navbar ul.nav a:hover{
    background-color: rgba(0,0,0,0);
}
.my-navbar ul.nav .active{
    background-color:#6dadcf;
    font-style: bold;
}

.my-navbar .dropdown-menu{
    background-color: #4281a4;
    border: 1px solid white;
    padding: 10px;
    box-shadow: none;
    border-radius: 0px;
}
.my-navbar .dropdown-menu li:hover{
    background-color: #6dadcf;
    transition-duration: 500ms;
}
.dropdown-header{
    color: #f1d4c3;
    font-style: italic;
    font-weight: bold;
}
.my-searchbar {
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;    
}
.my-searchbar-search{
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;    
    background-color: #a5668b;
    color: white;
    border: 0px;
}
.my-searchbar-search:hover{
    background-color: #d3bcc0;
    color: #69306d;
    border: 0px;
    transition-duration: 500ms;    
}
.my-searchbar-search:active, .my-searchbar-search:active:focus, .my-searchbar-search:hover:focus{
    background-color: #d3bcc0;
    color: #69306d;
    border: 0px;
    box-shadow: none;
}
.bc-login{
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;    
}
.btn-login{
    padding: 10px 20px 10px 20px ;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;    
    background-color: #ff928b;
    color: white;
    border: 0px;
}
.btn-login:hover{
    background-color: white;
    color: #ff928b;
    border: 0px;
    transition-duration: 500ms;    
}
.my-panel{
    border-radius: 0px;
    box-shadow: 1px 1px 1px #f2d7ee;
}
input.form-control {
    font-size: 12px;
    padding: 0px 20px 0px 20px ;
    border-radius: 20px;
 }
.form-control:focus{
    border-color: #a5668b;
    box-shadow: none;
}

.bc-searchbar-primary{

}
.bc-searchbar-secondary{

}

/* STYLING FOR PANELS */
.panel{
    margin-top: 20px;    
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: rgba(0,0,0,0)
}
.panel-primary{
    background-color: #fcc3c0;
    color: white;
    padding: 25px 25px 25px 25px;
}
.panel-secondary{
    background-color: #f5e8d4;
    color: darkslategrey;
    padding: 25px 25px 25px 25px;    
}
.panel-tertiary{
    background-color: #f1d4c3;
    color: darkslategray;
    padding: 25px 25px 25px 25px;   
}
.panel-other{
    background-color: white;
    color: darkslategray;
    padding: 25px 25px 25px 25px;    
    border: 1px solid #9cafb7;
}

/* STYLING FOR PROFILE */
.profile-photo{
    max-height: 100px;
    border-radius: 50%;
    border: 0.5px solid darkslategrey;
    box-shadow: 1px 1px  rgba(128,128,128,0.5);  
}

/* Thumbnails */
.thumbnail{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.carousel{
    
}

