<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />    
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
    <title>BookCat.io - Book Cataloging made easy!</title>
</head>

<body ng-app="BookCatApp">
    <div class="container">
        <div class="row" align="middle">
            <h2 >Register</h2>
        </div>
        <div class="row" ng-controller="RegCtrl as ctrl">
<!-- Form start here -->
            <form name="regForm" ng-submit="ctrl.register()" novalidate class="col-xs-12
            col-sm-10 col-sm-offset-1
            col-md-8 col-md-offset-2
            col-lg-8 col-lg-offset-2">
                    <div class="form-group ">
                        <label for="email"> email address</label>
                            <input  id="email"
                                    name="email"
                                    type="email"
                                    placeholder="someone@somewhere.com"
                                    class="form-control input-sm"
                                    ng-model="ctrl.user.email" 
                                    required />
                        <div class="validation animated shake" data-ng-show="regForm.email.$touched || registrationForm.$submitted">
                            <div data-ng-show="regForm.email.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> your email is required.
                            </div>
                            <div data-ng-show="regForm.email.$error.email">
                                <span class="glyphicon glyphicon-alert"></span> oops! your email is invalid. please try again.
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="password">password</label>
                            <input  id="password" 
                                    name="password" 
                                    type="password" 
                                    class="form-control input-sm" 
                                    ng-model="ctrl.user.password" 
                                    minlength="8" 
                                    ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" 
                                    required />
                        </div>
                    
                        <div class="form-group">
                            <label for="confirmPassword">confirm password</label>
                                <input  id="confirmPassword" 
                                        name="confirmPassword" 
                                        type="password" 
                                        class="form-control input-sm" 
                                        required />
                        </div>
            
                        <div class="form-group">
                            <label for="firstname">first name</label>
                                <input  id="firstname" 
                                        name="firstname" 
                                        type="text" 
                                        ng-model="ctrl.user.firstname"
                                        class="form-control input-sm" 
                                        required/>
                        </div>
                        <div class="form-group">
                            <label for="lastname">last name</label>
                                <input  id="lastname" 
                                        name="lastname" 
                                        type="text" 
                                        ng-model="ctrl.user.lastname"
                                        class="form-control input-sm" 
                                        required/>
                        </div>

                        <div class="form-group">
                            <label for="gender">gender</label>
                            <br/>
                            <input  id="gender"    
                                    name="gender" 
                                    type="radio" 
                                    value="M" 
                                    ng-model="ctrl.user.gender" 
                                    required> male </input>
                            <input  id="gender" 
                                    name="gender" 
                                    type="radio" 
                                    value="F"  
                                    ng-model="ctrl.user.gender" 
                                    required> female </input>
                        </div>
            
                        <div class="form-group">
                            <label for="dob">date of birth</label>
                            <input  id="dob" 
                                    name="dob" 
                                    type="date" 
                                    class="form-control input-sm" 
                                    ng-model="ctrl.user.dob" 
                                    required
                                    novalidate />
                        </div>
            
                        <div class="form-group ">
                            <label for="country">country of origin</label>
                            <select class="form-control input-sm" 
                                    id="country"
                                    name="country" 
                                    type="text" 
                                    ng-model="ctrl.user.country" 
                                    required/>
                                <option value="">-- Select a Country --</option>
                                <option ng-repeat="country in ctrl.countries" value="{{country.name}}">{{country.name}}</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group centered" align="middle">
                            <p>An organised bookshelf is just a step away.</p>
                            <br>
                            <button type="submit"
                                    id="submit" 
                                    name="submit" 
                                    class="bc-register-btn">Sign up!</button>
                        </div>
                </form>
        <!-- Form ends here -->
        </div>  
    </div>
    <!-- Scripts -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/app.js"></script>
    <script src="/client/app/services/user.service.js"></script>
    <script src="/client/app/users/register.controller.js"></script>
</body>
</html>