<div class="row">
        <br>
        <h2>Get your books organised like never before.</h2><br>
        <p>Manage your home library by keeping an updated catalogue of books you have read or want to read.</p>
        <br>

        <div id="form-container">
            <form id="regForm" >
                    <div ui-view="form.details"></div>                    
            </form>
        </div>

</div>
