<div class="row" style="margin-top:100px;">
    <div class="container panel-tertiary">
        <form>

            <div class="form-group ">
                <label for="email"> email address</label>
                    <input  id="email"
                            name="email"
                            type="email"
                            class="form-control input-sm"
                            ng-model="regctrl.user.email"
                            required />
                <div class="validation animated shake" data-ng-show="regForm.email.$touched || registrationForm.$submitted">
                    <div data-ng-show="regForm.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> your email is required.
                    </div>
                    <div data-ng-show="regForm.email.$error.email">
                        <span class="glyphicon glyphicon-alert"></span> oops! your email is invalid. please try again.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">password</label>
                    <input  id="password" 
                            name="password" 
                            type="password" 
                            class="form-control input-sm" 
                            ng-model="regctrl.user.password" 
                            minlength="8" 
                            ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" 
                            required />
            </div>
            
            <div class="form-group">
                    <label for="confirmPassword">confirm password</label>
                        <input  id="confirmPassword" 
                                name="confirmPassword" 
                                type="password" 
                                class="form-control input-sm" 
                                required />
            </div>

                <div class="form-group">
                    <label for="firstname">first name</label>
                        <input  id="firstname" 
                                name="firstname" 
                                type="text" 
                                ng-model="regctrl.user.firstname"
                                class="form-control input-sm" 
                                required/>
                </div>
                <div class="form-group">
                    <label for="lastname">last name</label>
                        <input  id="lastname" 
                                name="lastname" 
                                type="text" 
                                ng-model="regctrl.user.lastname"
                                class="form-control input-sm" 
                                required/>
                </div>

                <div class="form-group">
                    <label for="gender">gender</label>
                    <br/>
                    <input  id="gender"    
                            name="gender" 
                            type="radio" 
                            value="M" 
                            ng-model="regctrl.user.gender" 
                            required /> male 
                    <input  id="gender" 
                            name="gender" 
                            type="radio" 
                            value="F"  
                            ng-model="regctrl.user.gender" 
                            required /> female 
                </div>

                <div class="form-group">
                    <label for="dob">date of birth</label>
                    <input  id="dob" 
                            name="dob" 
                            type="date" 
                            class="form-control input-sm" 
                            ng-model="regctrl.user.dob" 
                            required
                            novalidate />
                </div>

                <div class="form-group ">
                    <label for="country">country of origin</label>
                    <select class="form-control input-sm" 
                            id="country"
                            name="country" 
                            type="text" 
                            ng-model="regctrl.user.country" 
                            required>
                        <option value="">-- Select a Country --</option>
                        <option ng-repeat="c in regctrl.countries" value="{{c.name}}">{{c.name}}</option>
                    </select>
                </div>
                <br>
                <div class="form-group centered" align="middle">
                    <p>An organised bookshelf is just a step away.</p>
                    <br>
                    <button type="submit"
                            id="submit" 
                            name="submit"
                            ng-click="regctrl.register()"
                            class="bc-register-btn">Sign up!</button>
                </div>

        </form>
        
    </div>
</div>