<div class="form-group">
    <input  type="email" 
            id="email" 
            name="email" 
            class="form-control"
            placeholder="your email here" 
            ng-model="regctrl.user.email">
            <br>
    <div class="form-group row">
        <a class="btn bc-register-btn" ng-click="regctrl.checkEmailExist()">
                Register <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <h5 style="font-weight: bold; color: cadetblue;">{{regctrl.message}}</h5>        
    </div>
    <h6>or</h6>
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto--link="false" data-use-continue-as="false"></div>    
</div>
