<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
    <title>BookCat.io - Book Cataloging made easy!</title>
</head>

<body ng-app="BookCatApp">
    <div id="fb-root"></div>
    <!-- Facebook script -->
    <!-- <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=118466742176058";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> -->
    <!-- Start of Navbar -->
    <nav class="navbar navbar-fixed-top my-navbar" role="navigation">
            <div class="navbar-header">
                <a href="index.html"><img src="assets/images/bookcat-1.svg" width="50" height="50"></a>
            </div>
        <!-- Login -->
            <div ng-controller="LoginCtrl as loginctrl">
                <!-- <form name = "loginForm" ng-submit="loginctrl.login()" class="navbar-form navbar-right " role="search"> -->
                <form action="/security/login" method="post" class="navbar-form navbar-right">    
                    <div class="form-group">
                      <input    type="email" 
                                class="form-control bc-login" 
                                ng-model="loginctrl.user.email"
                                name="email"
                                placeholder="email"
                                required>
                      <input    type="password" 
                                class="form-control bc-login" 
                                ng-model="loginctrl.user.password"
                                name="password"
                                placeholder="password"
                                required>                  
                    </div>
                    <button     type="submit" 
                                class="btn btn-default btn-login"
                                ng-disabled="loginForm.$invalid" >
                                Login
                    </button>
                    <h5 style="font-size:13px ; font-weight: bold; color: rgb(243, 202, 184);">&nbsp &nbsp &nbsp {{loginctrl.message}} </h5>
                  </form>
            </div>
        <!-- End of Login -->
    </nav>
    <!-- End of Navbar -->
    <div class="container" ng-controller="RegCtrl as regctrl">
        <ui-view></ui-view>
    </div>

    <!-- Load all scripts here -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>    
    <script src="/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script> 
    <script src="/app/app.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/services/auth.services.js"></script>
    <script src="/app/services/user.services.js"></script>    
    <script src="/app/home/home.controller.js"></script>
    <script src="/app/users/register.controller.js"></script>
    <script src="/app/users/login.controller.js"></script>
    

</body>
</html>