    <!-- Start of Jumbotron -->
    <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <br>
                    <div class="col-xs-12
                                col-sm-10 col-sm-offset-1
                                col-md-10 col-md-offset-1
                                col-lg-8 col-lg-offset-2" >
                        <div class="container" >
                            <br>
                            <h2>Get your books organised like never before.</h2><br>
                            <p>Manage your home library by keeping an updated catalogue of books you have read or want to read.</p>
                            <br>
                            <div class="form-group">
                                <input  type="email" 
                                        id="email" 
                                        name="email" 
                                        class="form-control"
                                        placeholder="your email here" 
                                        ng-model="regctrl.user.email"
                                        required>
                                        <br>
                                <div class="form-group row">
                                    <button class="btn bc-register-btn" ng-click="regctrl.checkEmailExist()" ng-disabled="email.$error.required">
                                            Register <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                    <h5 style="font-weight: bold; color: cadetblue;">{{regctrl.message}}</h5>
                                </div>
                                <!-- <h6>or</h6> -->
                                <!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>     -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <img src="assets/images/bg.gif" class="index-bg">
                </div>
            </div>
        </div>
        <!-- End of Jumbotron -->
        <div class = "container">
                <div class="row">
                    <div class="col-xs-8
                                col-md-8">
                        <h3>Never buy duplicates again.</h3>
                        <p>An accessible online catalogue of your home library means never making the mistake of buying double copies again.</p> 
                    </div>
                    <div class="col-xs-4
                                col-md-4" align="right">
                        <img src="assets/images/cat-duplicate.gif"  alt="" srcset="">
                    </div>
                </div>
                <hr> 
                
                <div class="row">
                    <div class="col-xs-4
                                col-md-4">
                        <img src="assets/images/cat-follow.gif" alt="" srcset="">
                    </div>
                    <div class="col-xs-8
                                col-md-8" align="right">
                        <h3 >Share and follow reading lists of friends and family.</h3>
                        <p>Keep in touch intellectually when you know what your friends and family have been reading lately.</p>
                    </div>
                </div> <!-- End of Row -->
                <hr>
                
                <div class="row">
                    <div class="col-xs-8
                                col-md-8">
                        <h3>Keep up with the times.</h3>
                        <p>Stay up to date on the books or authors you’re watching, or participate in community forums and reviews.</p>
        
                    </div>
                    <div class="col-xs-4
                                col-md-4">
                        <img src="assets/images/cat-times.gif" align="right">
                    </div>
                </div> <!-- End of Row -->
                <br>
            </div> 
            <!-- End of Container -->
        