<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
    <title>BookCat.io - Book Cataloging made easy!</title>
</head>

<body ng-app="BookCatApp" ng-controller="HomeCtrl">
    <div id="fb-root"></div>
    <!-- Facebook script -->
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=118466742176058";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Start of Navbar -->
    <nav class="navbar navbar-fixed-top my-navbar" role="navigation">
            <div class="navbar-header">
                <img src="assets/images/bookcat-1.svg" width="50" height="50" alt="">
            </div>
        <!-- Login -->
            <div ng-controller="LoginCtrl as ctrl">
                <form name = "loginForm" ng-submit="ctrl.login()" class="navbar-form navbar-right " role="search">
                    <div class="form-group">
                      <input    type="email" 
                                class="form-control bc-login" 
                                ng-model="ctrl.user.email"
                                name="email"
                                placeholder="email"
                                required>
                      <input    type="password" 
                                class="form-control bc-login" 
                                ng-model="ctrl.user.password"
                                name="password"
                                placeholder="password"
                                required>                  
                    </div>
                    <button     type="submit" 
                                class="btn btn-default btn-login"
                                ng-disabled="loginForm.$invalid" >
                                Login
                    </button>
                  </form>
            </div>
        <!-- End of Login -->
    </nav>
    <!-- End of Navbar -->
    <!-- Start of Jumbotron -->
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <br>
                    <div class="col-xs-12
                                col-sm-10 col-sm-offset-1
                                col-md-8 col-md-offset-2
                                col-lg-8 col-lg-offset-2" >
                        <div class="container" ng-controller="RegCtrl as ctrl">
                            <form id="regForm" ng-submit="ctrl.registerUser()">
                                <div ui-view></div>                                    
                            </form>
                        </div>
                                                    
                        <!-- <div class="row" ng-controller="RegCtrl as ctrl">
                                <form name="regForm" 
                                    ng-submit="ctrl.register()"        
                                    class="col-xs-12
                                            col-sm-10 col-sm-offset-1
                                            col-md-8 col-md-offset-2
                                            col-lg-8 col-lg-offset-2"
                                    novalidate>
                                    <div class="form-group">
                                        <input  type="email" 
                                                id="email" 
                                                name="email" 
                                                class="form-control"
                                                placeholder="your email here" 
                                                ng-model="ctrl.user.email">
                                    </div>
                                    <div class="form-group">
                                        <a ui-sref="form.details" class="bc-register-btn">Register</a>
                                    </div>
                                </form>
                            </div> -->

                        </div>
                        <br>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    <!-- End of Jumbotron -->
    <div class = "container">
        <div class="row">
            <div class="col-xs-12
                        col-md-12">
                <h3>Never buy duplicates again.</h3>
                <p>An accessible online catalogue of your home library means never making the mistake of buying double copies again.</p> 
            </div>
            <div class="col-xs-12
                        col-md-12">
        
            </div>
        </div><!-- End of Row -->
        <div class="row">
            <hr> 
            <div class="col-xs-12
                        col-md-12">
            </div>
            <div class="col-xs-12
                        col-md-12" align="right">
                <h3 >Share and follow reading lists of friends and family.</h3>
                <p>Keep in touch intellectually when you know what your friends and family have been reading lately.</p>
            </div>
        </div> <!-- End of Row -->
        <div class="row">

        </div>
        <div class="row">
            <hr>
            <div class="col-xs-12
                        col-md-6">
                <h3>Keep up with the times.</h3>
                <p>Stay up to date on the books or authors you’re watching, or participate in community forums and reviews.</p>

            </div>
            <div class="col-xs-12
                        col-md-6">
            </div>
        </div> <!-- End of Row -->
        <br>
        <div class="row"> <!-- Footer -->
            
            
        </div> <!-- End of Footer -->
    </div> <!-- End of Container -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>    
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <!-- <script src="app/app.config.js"></script> -->
    <script src="app/services/auth.services.js"></script>
    <!-- <script src="app/services/user.services.js"></script>     -->
    <script src="app/home/home.controller.js"></script>
    <script src="app/users/register.controller.js"></script>
    <script src="app/users/login.controller.js"></script>
    

</body>
</html>