
<div class="container ">
    <div class="col-xs-4 panel panel-tertiary">
            <!-- Default panel contents -->
            <div class="panel-heading panel-secondary">
                    <h3 class="panel-title">Account Settings</h3>
            </div>
                
                <!-- List group -->
            <ul class="list-group ">
                <li class="list-group-item"><a ui-sref="account.profile">Update Profile</a></li>
                <li class="list-group-item" ><a ui-sref="account.password">Change Password</a></li>
            </ul>
            <!-- Default panel contents -->
            <div class="panel-heading panel-secondary">
                    <h3 class="panel-title">Book Catalogue Settings</h3>
            </div>
            <!-- List group -->
            <ul class="list-group ">
                <li class="list-group-item" >Edit Reading Lists</li>
                <li class="list-group-item" >Create New Shelves</li>
            </ul>
    </div>

    <div class="col-xs-8" >
            <div ui-view></div>        
    </div>

</div>
