<div class="container" style="width:100%">
    <div class="panel-heading">
        <h3>Book Details</h3>
    </div>

    <div class="panel-body">
        <div class="media">
            <div class="media-left ">
                <a href="#">
                <img class="media-object" ng-src="{{ctrl.imgurl}}" >
                </a>
            </div>
            <div class=" media-body ">
                <div class="container">
                <table class="table  table-responsive">
                    <tbody style="width: 50%">
                        <tr>
                            <th scope="col">Title</th>
                            <td>{{ctrl.title}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Author</th>
                            <td>{{ctrl.author}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Publisher</th>
                            <td>{{ctrl.publishername}}</td>
                        </tr>
                        <tr>
                            <th scope="col">ISBN</th>
                            <td>{{ctrl.isbn10}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Synopsis</th>
                            <td>{{ctrl.synopsis}}</td>
                        </tr>

                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <!-- User Choices -->
        <div class="row">
            <div class="col-xs-8">
                <h5>Add Remarks</h5>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col-xs-4">
                <h5>Add to Book Lists</h5>        
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" value="">
                        Favorite Books in 2017
                        </label>
                    </div>
                    <div class="checkbox disabled">
                        <label>
                        <input type="checkbox" value="" >
                        Reading List for Class 2B
                        </label>
                    </div>
                    <div class="checkbox disabled">
                            <label>
                            <input type="checkbox" value="" >
                            Reading List for Class 1C
                            </label>
                    </div>
                    <a href="#">Add Lists...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h5>Status</h5>        
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Unread
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Reading
                    </label>
                </div>  
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Read
                    </label>
                </div>  
            </div>
        </div>
        <div class="row pull-right">
            <button type="button" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-danger">Remove Book</button>
            <button type="button" class="btn btn-default">Cancel</button>             
        </div>
        <br><br>
    <hr>
        <div class="row ">
            <h5>Other Books by this Author</h5>        
            <div class="panel col-sm-3">
                <img src="https://images.gr-assets.com/books/1328876428m/8837.jpg" alt="" srcset="">
            </div>
            <div class="panel col-sm-3">
                <img src="https://images.gr-assets.com/books/1374049395m/225640.jpg" alt="" srcset="">
            </div>
            <div class="panel col-sm-3">
                    <img src="https://images.gr-assets.com/books/1379448959m/229806.jpg" alt="" srcset="">                    
            </div>
            <div class="panel col-sm-3">
                    <img src="https://images.gr-assets.com/books/1473322727m/1567510.jpg" alt="" srcset="">                    
            </div>

        </div>

    </div>



    </div>
</div>