<div class=" panel panel-other" ng-controller="CatalogCtrl as catalogCtrl" >
            <table class="table table-hover table-responsive">
                <tr>
                    <th>#</th>
                    <th></th>                    
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="b in catalogCtrl.books">
                    <td data-toggle="modal" data-target="#bookDetails{{$index}}" ng-click="catalogCtrl.viewBookDetails('lg' , $index)">{{$index + 1}}</td>
                    <td data-toggle="modal" data-target="#bookDetails{{$index}}" ng-click="catalogCtrl.viewBookDetails('lg' , $index)"><img ng-src="{{b.book.imgurl}}" style="height: 50px"></td>
                    <td data-toggle="modal" data-target="#bookDetails{{$index}}" ng-click="catalogCtrl.viewBookDetails('lg' , $index)">{{b.book.title}}</td>
                    <td data-toggle="modal" data-target="#bookDetails{{$index}}" ng-click="catalogCtrl.viewBookDetails('lg' , $index)">{{b.book.author}}</td>
                    <td data-toggle="modal" data-target="#bookDetails{{$index}}" ng-click="catalogCtrl.viewBookDetails('lg' , $index)">{{b.book.createdAt | date:"d-MMM-yy"}}</td>
                    <td><div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{b.status}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="#">Unread</a></li>
                          <li><a href="#">Reading</a></li>
                          <li><a href="#">Read</a></li>
                        </ul>
                      </div>
                      </td>
                </tr>
            </table>
</div>