<!DOCTYPE html>
<html lang="en" ng-app="BookCatApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
    
    <title>My BookCat: Book Cataloging made easy!</title>
</head>

<body ng-controller="HomeCtrl as homeCtrl">
                
    <!-- Start of Navbar -->
    <nav class="navbar navbar-inverse my-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="home"><img src="/assets/images/bookcat-1.svg" width="50" height="50" class="d-inline-block align-top" alt=""></a>
                </div>
                <!-- Search Bar -->
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control my-searchbar" placeholder="Search">
                        <button type="submit" class="btn btn-default my-searchbar-search">Search</button>
                </form>
            </div>
            <!-- End of Search Bar -->
            <!-- NavBar Links -->
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <!-- NavBar Link 1 -->
                    <li><a ui-sref="mybooks.catalogue">My Books</a></li>
                    <li class="dropdown">
                        <a ui-sref="" class="dropdown-toggle my-navbar-font" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Account Settings</li>
                            <li><a ui-sref="account.profile">Edit Profile</a></li>
                            <li><a ui-sref="account.profile">Change Password</a></li>
                            <li class="dropdown-header">Book Settings</li>                            
                            <li><a ui-sref="account.profile">Edit Reading Lists</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="homeCtrl.logout()">Logout</li>                            
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- End of Navbar Links -->
        </nav>
        <!-- End of Navbar -->
        <div class="container">
            <div> 
                <h2>Welcome! {{ homeCtrl.firstName }}</h2>
            </div>
            <div class="col-md-8 col-xs-12">
                <div ui-view="searchbook"></div>
                <div ui-view="books"></div>                
            </div>
            <div class="col-md-4 col-xs-hidden">
                <!-- <div ui-view="recommendations"></div>                 -->
            </div>
            
            <div ui-view></div>            
        </div>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>       
    <script src="/app/app.js"></script>
    <script src="/app/login.config.js"></script>
    <script src="/app/services/auth.services.js"></script>    
    <script src="/app/home/home.controller.js"></script>
    <script src="/app/services/addbook.services.js"></script>
    <script src="/app/services/catalog.services.js"></script>
    <script src="/app/home/catalog.controller.js"></script>
    <script src="/app/services/user.services.js"></script>
    <script src="/app/profile/profile.controller.js"></script>
    <script src="/app/add/addbook.controller.js"></script>
    <script src="/app/recommendations/nyt.controller.js"></script>
</body>
</html>