<div class="container">
    <div class="row">
        <h3>My Books</h3>
        <hr>
    </div>
    <div class="col-sm-3" >
        <div ui-view="lists"></div>
    </div>
    <div class="col-sm-9">
        <div ui-view="catalogue"></div>
    </div>
</div>