<div class="container" ng-controller="ProfileCtrl as profileCtrl">
  <div class="col-xs-6">
          <h2h1>Update Profile</h2>
          <hr>
          <div class="row">
              <div class="product col-lg-8 col-md-6 col-sm-12">
                  <form name="editProfile" novalidate ng-submit="profileCtrl.saveUser();">
                      <div class="form-group">
                          <label for="title">First Name:</label>
                          <input class="form-control" type="text" id="title" ng-model="profileCtrl.profile.firstname" required>
                      </div>
                      <div class="form-group">
                          <label for="title">Last Name:</label>
                          <input class="form-control" type="text" id="title" ng-model="profileCtrl.profile.lastname" required>
                      </div>
                <!-- Gender -->
                <div class="form-group">
                    <label for="gender">gender</label>
                    <br>
                    <input id="gender"    
                            name="gender" 
                            type="radio" 
                            value="M" 
                            ng-model="profileCtrl.profile.gender" 
                            required> male </input>
                    <input  id="gender" 
                            name="gender" 
                            type="radio" 
                            value="F"  
                            ng-model="profileCtrl.profile.gender" 
                            required> female </input>
                </div>
    
                <!-- Date of Birth -->
                <div class="form-group">
                    <label for="dob">date of birth</label>
                        <input  id="dob" 
                                name="dob" 
                                type="date"                                 
                                class="form-control input-sm" 
                                ng-model="profileCtrl.profile.dob"
                                value="{{profileCtrl.profile.dob}}"                                
                                required
                                novalidate />
                </div>
    
                <!-- Country of Origin -->
                <div class="form-group ">
                    <label for="country">country of origin</label>
                        <select class="form-control input-sm" 
                                id="country"
                                name="country" 
                                type="text" 
                                ng-model="profileCtrl.profile.country" 
                                required>
                            <option value="{{profileCtrl.profile.country}}">{{profileCtrl.profile.country}}</option>
                            <option ng-repeat="c in profileCtrl.countries" value="{{c.name}}">
                              {{c.name}}</option>
                        </select>
                </div>

                      <button type="submit" class="bc-register-btn">Save</button>
                      <button type="button" class="my-searchbar-search" ng-click="profileCtrl.clear();">Reset</button>
                  </form>
              </div>
          </div>
  </div>


        <div class="col-xs-6">
            <img class="profile-photo" src="../../assets/uploads/userid6.jpg">
        </div>
    
    </div>

