<div class="panel-secondary" ng-controller="NytCtrl as nytCtrl">
    <div class="bs-example" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active" ng-repeat="b in nytCtrl.list">
                    <div class="thumbnail">
                        <img src="{{b.book_image}}" alt="...">
                        <div class="caption">
                        <h4>{{b.title}}</h4>
                        <h5>{{b.author}}</h5>
                        <h6>{{b.description}}</h6>
                        <p><a href="#" class="btn btn-primary" role="button">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumbnail">
                        <img src="/assets/images/book.svg" alt="...">
                        <div class="caption">
                        <h4>Thumbnail label</h4>
                        <h6>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h6>
                        <p><a href="#" class="btn btn-primary" role="button">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="thumbnail">
                        <img src="/assets/images/book.svg" alt="...">
                        <div class="caption">
                        <h4>Thumbnail label</h4>
                        <h6>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</h6>
                        <p><a href="#" class="btn btn-primary" role="button">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    



</div>
