<div class=" panel-tertiary" ng-controller="AddBookCtrl as addBookCtrl">
        <h2>Add a book to your catalogue today!</h2>
        <p>Scan or search by author, book title or ISBN.</p>
        <form name="searchForm" novalidate ng-submit="addBookCtrl.search()">
            <div class="form-group">
                <input type="text" class="form-control my-searchbar" 
                        placeholder="ISBN / Author Name / Title of Book"
                        ng-model="addBookCtrl.queryStr" required >
                <br>
                <button type="submit" class="btn btn-default my-searchbar-search" 
                        data-toggle="modal" data-target="#searchModal"
                        ng-disabled="searchForm.$invalid">Search</button>
            </div>                    
        </form>
    
     <!-- Modal -->
     <div id="searchModal" class="modal fade bs-example-modal-lg" tabindex="-1" 
            role="dialog" aria-labelledby="classInfo" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                    </button>
                    <h4 class="modal-title" id="classModalLabel">
                        Search result for {{ addBookCtrl.queryStr }}
                        <h5>{{addBookCtrl.booksGoodReads.length}} results found</h5>
                    </h4>
                </div>
                <div class="modal-body">
                    <label for="selectall" id="selectControl">Select All</label>
                    <input type="checkbox" id="selectall" 
                        ng-model="addBookCtrl.selectedAll"
                        ng-click="addBookCtrl.selectAll()" />
                        <div class="row" ng-show="isLoading" >
                            <img src="/assets/images/animat-search-color.gif" style="max-width: 100px; display: block; margin: auto;">
                        </div>                        
                    <div ng-show="!isLoading">
                        <table id="classTable" class="table table-bordered">
                            <tbody>
                            <tr ng-repeat="b in addBookCtrl.booksGoodReads">
                                <td>{{$index + 1}}
                                    <!--
                                        check if addBookCtrl.addFlag[$index] == false, 
                                        then checkbox is enable
                                        else
                                        checkbox is disabled
                                    -->
                                    <div ng-if="addBookCtrl.addFlag[$index] == 0 ">
                                        <input type="checkbox" name="books[]" 
                                        value="{{$index}}" id="{{$index}}"
                                        ng-model="b.Selected" />
                                    </div>
                                    <div ng-if="addBookCtrl.addFlag[$index] == 1 ">
                                        <input type="checkbox" name="books[]" 
                                        value="{{$index}}" id="{{$index}}"
                                        ng-model="b.Selected" disabled />
                                    </div>
                                    
                                </td>
                                <td>
                                    <img ng-src="{{b.image_url[0]}}" alt="book cover" />
                                </td>
                                <td>
                                    {{ b.title[0] }}  
                                    <br>
                                    by:
                                    <span ng-if="b.authors[0].author.length > 1">
                                        <span ng-repeat="a in b.authors[0].author">
                                            {{ a.name[0] }}  |  
                                        </span>
                                    </span>
                                    <span ng-if="b.authors[0].author.length == 1">
                                        <span ng-repeat="a in b.authors[0].author">
                                                {{ a.name[0] }}    
                                        </span>
                                    </span>
                                    <br>
                                    Rating: {{ b.average_rating[0] }}
                                    <br>
                                    ISBN10: {{ b.isbn[0] }} | ISBN13: {{ b.isbn13[0] }}
                                    <br>
                                    Publisher: {{ b.publisher[0] }}
                                    <br>
                                    Format: {{ b.format[0] }}
                                    <br>
                                    <!--
                                        check if addBookCtrl.addFlag[$index] == false, 
                                        then Add button is enable
                                        else
                                        Add button change to Added and disabled
                                    -->
                                    <div ng-if="addBookCtrl.addFlag[$index] == 0 ">
                                        <button type="button" class="btn btn-light"
                                                ng-click="addBookCtrl.addBook($index)">
                                            Add 
                                        </button>
                                    </div>
                                    <div ng-if="addBookCtrl.addFlag[$index] == 1 ">
                                        <button type="button" class="btn btn-light"
                                            disabled>
                                            Added 
                                        </button>
                                    </div>
                                    
                                    <!--
                                    <br>
                                    {{ b.description[0] }}
                                    -->
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <span class="form-control-static pull-left">
                        <label for="selectall" id="selectControl">Select All</label>
                        <input type="checkbox" id="selectall" 
                            ng-model="addBookCtrl.selectedAll"
                            ng-click="addBookCtrl.selectAll()" />
                    </span>
                    <button type="button" class="btn btn-primary" ng-click="addBookCtrl.addBooks()">
                            Add the selected
                    </button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        <!-- End of Modal -->
    </div>